
div[class*="language-"] pre, div[class*="language-"] pre[class*="language-"]{
    white-space: pre-wrap;
}

.home .hero img{
    width 200px;
    @media(max-width: 419px){
        width 156px!important;
    }
}